<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag action: 'login_attempt' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br/>
  <%= label_tag :password %>
  <%= password_field_tag :login_password %><br/>

  <%= submit_tag 'Log In' %><br/>
  <%= link_to('No account? Register here!', action: 'register') %>
<% end %>
