<%= form_for @product do |f| %>
<div class='form'>
  <table>
    <tr>
      <td width='100px'>
        <%= f.label :name %>
      </td>
      <td width='200px'>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :description %>
      </td>
      <td>
        <%= f.text_area :description, size:'18x5' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :quantity %>
      </td>
      <td>
        <%= f.text_field :quantity %>
      </td>
    </tr>
    <tr>
    <td>
      <%= f.label :price %>
    </td>
    <td>
      <%= f.text_field :price %>
    </td>
    </tr>
    <tr>
      <td colspan="2">
        <br>
        <%= f.submit 'Update' %>
      </td>
    </tr>
  <table>
</div>
<% end %>
